<div class="row">
    <div class="col-md-12">
        <h3>{{ 'operatori.commenti_e_modifiche'|trans }}</h3>
        <ul class="list-unstyled">
            {% for commento in pratica.commenti %}
                <li>
                    <small>{{ commento.createdAt|date(ocsdc_default_datetime_format) }}</small>
                    <p><strong>{{ commento.creator }}:</strong> {{ commento.text }}</p>
                </li>
            {% endfor %}
        </ul>
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form(form) }}
    </div>
</div>