<div id="operatore-summary">
    <div class="row">
        <div class="col-xs-4 col-sm-3"><strong>{{ 'operatori.lista.nome'|trans }}</strong></div>
        <div class="col-xs-8 col-sm-9">{{ operatore.nome }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3"><strong>{{ 'operatori.lista.nome'|trans }}</strong></div>
        <div class="col-xs-8 col-sm-9">{{ operatore.nome }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3"><strong>{{ 'operatori.lista.nome'|trans }}</strong></div>
        <div class="col-xs-8 col-sm-9">{{ operatore.nome }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3"><strong>{{ 'operatori.lista.nome'|trans }}</strong></div>
        <div class="col-xs-8 col-sm-9">{{ operatore.nome }}</div>
    </div>
</div>
