{% if user.roles is defined %}
    <div class="pull-right">
        {% if 'ROLE_CPS_USER' in user.roles %}
            <a href="{{ path('user_profile') }}" title="{{ 'profilo_utente'|trans }}">
                <i class="fa fa-lock"></i> <i class="fa fa-credit-card"></i>
            <span class="hidden-xs">
                {{ user.fullName }}
            </span>
            </a>
            -
            <a href="/Shibboleth.sso/Logout">
                <i class="fa fa-power-off" aria-hidden="true"></i>
            <span class="hidden-xs">
                <small>{{ 'logout'|trans }}</small>
            </span>
            </a>
        {% elseif 'ROLE_OPERATORE' in user.roles %}
            <a href="{{ path('operatori_index') }}" title="{{ 'profilo_utente'|trans }}">
                <i class="fa fa-user"></i>
            <span class="hidden-xs">
                {{ user.fullName }}
                <small>{{ 'operatore'|trans }}</small>
            </span>
            </a>
            -
            <a href="{{ logout_path('operatori') }}">
                <i class="fa fa-power-off" aria-hidden="true"></i>
            <span class="hidden-xs">
                <small>{{ 'logout'|trans }}</small>
            </span>
            </a>
        {% endif %}
    </div>
{% endif %}
