<div class="row">
    <div class="col-xs-12 col-sm-3"><strong>{{ 'steps.common.dati_conto_corrente.title'|trans }}</strong></div>
    <div class="col-xs-12 col-sm-9">
        <table class="table table-bordered table-striped table-condensed cf">
            <tr>
                <th width="1">{{ 'steps.common.dati_conto_corrente.iban'|trans }}</th>
                <td>{{ pratica.iban }}</td>
            </tr>
            <tr>
                <th width="1">{{ 'steps.common.dati_conto_corrente.intestatario'|trans }}</th>
                <td>{{ pratica.intestatarioConto }}</td>
            </tr>
        </table>
    </div>
</div>