{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    {#Imposto come default la prima chiave dell'array#}
    {% set active_key = tab_pratiche|keys|first %}
    {% set find = false %}
    {% for k, v in tab_pratiche %}
        {% if v|length > 0 and not find  %}
            {% set active_key = k %}
            {% set find = true %}
        {% endif %}
    {% endfor %}

    <h2>{{ title|trans() }}</h2>

    {% if msg is defined %}
        <div class="alert alert-{{ msg.type }}" role="alert">{{ msg.text|trans() }}</div>
    {% endif %}

    <div class="row">
        <ul class="nav nav-pills">
            {% for key, value in tab_pratiche %}
                <li {% if key == active_key %}class="active"{% endif %}>
                    <a href="#{{ key }}" aria-controls="{{ key }}" role="tab" data-toggle="tab">
                        {{ ('user.dashboard.pratiche_' ~ key)|trans }} <span class="badge">{{ value|length }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for key, value in tab_pratiche %}
                <div role="tabpanel"
                     class="tab-pane list {{ key }}{% if key == active_key %} active{% endif %}"
                     id="{{ key }}">
                    <h3>{{ ('user.dashboard.pratiche_' ~ key)|trans }}</h3>
                    {% if value|length > 0 %}
                        <div id="no-more-tables">
                            <table class="table table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                <tr>
                                    <td>{{ 'pratica.servizio'|trans }}</td>
                                    <td>{{ 'pratica.categoria'|trans }}</td>
                                    <td>{{ 'pratica.protocollo'|trans }}</td>
                                    <td>{{ 'pratica.data_di_compilazione'|trans }}</td>
                                    <td>{{ 'pratica.stato'|trans }}</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for pratica in value %}
                                    <tr class="pratica"
                                        data-pratica="{{ pratica.id }}"
                                        data-user="{{ pratica.user.id }}"
                                        data-status="{{ pratica.status }}">

                                        <td data-title="{{ 'pratica.servizio'|trans }}">{{ pratica.servizio.name }}</td>
                                        <td data-title="{{ 'pratica.categoria'|trans }}">{{ pratica.servizio.area.name }}</td>
                                        <td data-title="{{ 'pratica.protocollo'|trans }}">
                                            {% if pratica.numeroProtocollo %}
                                                {{ pratica.numeroProtocollo }}
                                            {% elseif pratica.statusName != 'STATUS_DRAFT' %}
                                                <em>{{ 'pratica.in_attesa_protocollo'|trans }}</em>
                                            {% endif %}
                                        </td>
                                        <td data-title="{{ 'pratica.data_di_compilazione'|trans }}">{{ pratica.creationTime|date(ocsdc_default_datetime_format) }}</td>
                                        <td data-title="{{ 'pratica.stato'|trans }}">{{ pratica.statusName|trans }}</td>
                                        <td data-title="">
                                            <a href="{{ path('pratiche_show', {'pratica': pratica}) }}"
                                               class="btn btn-primary btn-xs">{{ 'user.dashboard.vai_al_dettaglio'|trans }}</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert"><i class="fa fa-info" aria-hidden="true"></i> {{ 'pratica.empty'|trans() }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row hidden">
        {% if pratiche|length > 0 %}
            {% for pratica in pratiche %}
                <div class="col-sm-4">
                    {{ include('@App/Pratiche/parts/panel/pratica.html.twig') }}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert"><i class="fa fa-info" aria-hidden="true"></i> {{ 'pratica.empty'|trans() }}</div>
        {% endif %}
    </div>

{% endblock %}
