{% extends '@App/Default/index.html.twig' %}
{% block main_content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <h1>{{ 'terms.title'|trans() }}</h1>

    {{ form_start(form) }}

    {% for term in terms %}
        <h2 class="term">{{ term.name }}</h2>
        {{ term.text|raw }}
        {{ form_row(form[term.id|trim]) }}
    {% endfor %}

    {{ form_row(form.save) }}
    {{ form_end(form) }}

{% endblock %}
